body {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
  }
  
  .window {
    position: fixed;
    margin: auto;
    width: 40%;
    left: 30%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .window form {
    width: 100%;
  }

  .form-item {
    margin: 10px;
  }
  
  .form-item input {
    height: 2rem;
    
    border: 1px solid #666cff;
    border-radius: 10px;
    padding-left: 10px;
    transition: 0.5s;
  }
  
  .form-item input:hover,
  .form-item input:focus,
  .form-item input:active {
    border: 1px solid white;
    background-color: #666cff;
    color: white;
  }
  
  
  .form-item input::placeholder {
    font-family: sans-serif;
  }
  
  .form-item input:hover::placeholder,
  .form-item input:focus::placeholder,
  .form-item input:active::placeholder{
    color: white;
  }
  
  
  .btn {
    border: 0;
    border-radius: 30px;
    background-color: #666cff;
    width: 300px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
  }
  
  .btn:hover {
    border: 3px solid #666cff;
    background-color: #fff;
  }
  
/* Свойста модального окна */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.emailUser {
  font-weight: bold;
  text-decoration: underline;
  color: blue;
}